*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242424;
}
.picture-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}